<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" >
    <title>Welcome</title>
</head>
<body>
    <div class="index-bg">
        <div class="overlay">
            <div class="item">
                <h1 class="title-text">Unlock the Power of Your Vote: Embrace Facial Recognition for a Smarter Voting Experience!</h1>
            </div>
            <div class="item">
                <a class="btnletsvote" href="/video">Let's Vote</a>
            </div>
            
        </div>
    </div>

</body>
</html>